EPL_SPREADSHEET_ID=replace-with-spreadsheet-id
EPL_PEDIDOS_SHEET_ID=replace-with-orders-tab-id
EPL_LOG_SHEET_ID=replace-with-automation-log-tab-id
EPL_REVIEW_FORM_URL=https://docs.google.com/forms/d/e/replace-with-form-id/viewform
EPL_SHEETS_CREDENTIAL_NAME=Google Sheets account
EPL_GMAIL_CREDENTIAL_NAME=Gmail account
